.description{
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #42864f;
    font-size: 1.5rem;
    height: max-content;
    text-align: justify;
    padding: 5px;
    margin: 10px;;
    width:calc( 100% - 15px);

}
.description .title{
    text-align:center;
    color: #C70039;
    margin-bottom: 10px;
}